{{ form_start(form) }}
<div class="container">
  
    <div class="card mb-3">
        <div class="card-body">
            {{ form_row(form.roomName, {'label': 'Room Name', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.roomDescription, {'label': 'Room Description', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.star, {'label': 'Star Rating', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.price, {'label': 'Price', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.oldPrice, {'label': 'Old Price', 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
