{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-4 text-end">
            <a href="{{ path('content_management') }}" class="btn btn-outline-primary">Admin</a>
            <a href="{{ path('app_home') }}" class="btn btn-outline-secondary">KBM FETNEES</a>
        </div>
        <h1>Category list</h1>

        <div class="row">
            <div class="col-md-6">
                <label for="searchInput"></label><input type="text" class="form-control mb-3" id="searchInput" placeholder="Search..." oninput="filterCategories()">
            </div>
        </div>

        <ul class="list-group" id="categoryList">
            {% for category in categories %}
                <li class="list-group-item">
                    <h5>{{ category.name }}</h5>
                    <p>{{ category.description }}</p>
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-primary me-2">Show</a>
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-secondary">Edit</a>
                    </div>
                </li>
            {% else %}
                <li class="list-group-item">No records found</li>
            {% endfor %}
        </ul>

        <a href="{{ path('app_category_new') }}" class="btn btn-success mt-4">Create new</a>
    </div>

    <script>
        function filterCategories() {
            var input, filter, ul, li, h5, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById('categoryList');
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                h5 = li[i].getElementsByTagName('h5')[0];
                txtValue = h5.textContent || h5.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = '';
                } else {
                    li[i].style.display = 'none';
                }
            }
        }
    </script>
{% endblock %}
