{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-4 text-end">
            <a href="{{ path('content_management') }}" class="btn btn-outline-primary">Admin</a>
            <a href="{{ path('app_home') }}" class="btn btn-outline-secondary">KBM FETNEES</a>
        </div>
        <h1>Contact list</h1>

        <div class="mt-4">
            <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search..." oninput="filterContacts()">
        </div>

        <ul class="list-group" id="contactList">
            {% for contact in contacts %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <h5>{{ contact.fullName }}</h5>
                        <div>
                            <a href="{{ path('app_contact_show', {'id': contact.id}) }}" class="btn btn-primary me-2">Show</a>
                            <a href="{{ path('app_contact_edit', {'id': contact.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                    <p class="mb-0"><strong>Email:</strong> {{ contact.email }}</p>
                    <p class="mb-0"><strong>Phone Number:</strong> {{ contact.phoneNumber }}</p>
                    <p class="mb-0"><strong>Subject:</strong> {{ contact.subjet }}</p>
                    <p class="mb-0"><strong>Message:</strong> {{ contact.message }}</p>
                </li>
                <br>
            {% else %}
                <li class="list-group-item">no records found</li>
            {% endfor %}
        </ul>

        <a href="{{ path('app_contact_new') }}" class="btn btn-success mt-4">Create new</a>
    </div>

    <script>
        function filterContacts() {
            var input, filter, ul, li, name, email, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById('contactList');
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                name = li[i].getElementsByTagName('h5')[0];
                email = li[i].getElementsByTagName('p')[0];
                txtValue = name.textContent || name.innerText;
                txtValue += email.textContent || email.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = '';
                } else {
                    li[i].style.display = 'none';
                }
            }
        }
    </script>
{% endblock %}
