{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Contact list</h1>

        <ul class="list-group">
            {% for contact in contacts %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <h5>{{ contact.fullName }}</h5>
                        <div>
                            <a href="{{ path('app_contact_show', {'id': contact.id}) }}" class="btn btn-primary me-2">Show</a>
                            <a href="{{ path('app_contact_edit', {'id': contact.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                    <p class="mb-0"><strong>Email:</strong> {{ contact.email }}</p>
                    <p class="mb-0"><strong>Phone Number:</strong> {{ contact.phoneNumber }}</p>
                    <p class="mb-0"><strong>Subject:</strong> {{ contact.subjet }}</p>
                    <p class="mb-0"><strong>Message:</strong> {{ contact.message }}</p>
                </li>
                <br>
            {% else %}
                <li class="list-group-item">no records found</li>
            {% endfor %}
        </ul>

        <a href="{{ path('app_contact_new') }}" class="btn btn-success mt-4">Create new</a>
    </div>
{% endblock %}
